name: Deploy Azure Function App

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'  

    - name: Install Azure Functions Core Tools
      run: |
        npm install -g azure-functions-core-tools@4 --unsafe-perm true

    - name: Build project
      run: dotnet build ./az-functions/az-204.csproj --configuration Release

    - name: Publish project
      run: dotnet publish ./az-functions/az-204.csproj --configuration Release --output ./az-functions/publish 

    - name: Deploy to Azure Functions
      uses: azure/functions-action@v1
      with:
        app-name: myfirsttryfunctiondotnet
        package: ./az-functions/publish
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
