name: Deploy Azure Function App via Zip Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0'

    - name: Publish project
      run: dotnet publish ./az-functions/az-204.csproj --configuration Release --output ./az-functions/publish

    - name: Deploy to Azure using Zip Deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: myfirsttryfunctiondotnet
        package: ./az-functions/publish
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
